@import"../themes/variable.scss";
@import "../Base/Base.scss";
@mixin styleNav($padding,$fs,$style-list){
    font-size:$fs;
    padding-right: $padding;
    list-style: $style-list; 
}
//hiệu ứng button//(màu bg đầu, màu text đầu, màu bg sau, màu text sau) 
@mixin styleButton( $bg_color_before, $text_color_before, $bg_color_after,$_text_color_after){
    background-color: $bg_color_before;
    color: $text_color_before;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    // z-index: 2;
    &:hover{
        color: $_text_color_after;
    }
    &::after{
        @extend .after_button;
        background-color:$bg_color_after;
    }
    &:hover::after{
    @extend .hover_button;
    } 
}
@mixin styleHoverNav($colorHover){ //hiệu ứng hover nav
    &::after{
        position: absolute;
        content: "";
        left: 15%;
        bottom: 0;
        width: 10px;
        height: 10px;;
        background-color: $colorHover; 
        border-radius: 50% ;
      } 
}