//Color text
$c-text:#181818;
$c-text-default: black;
$c-hover:#b61984;
$c-white: #fff;
//background-color
$c-bg-1:#dcd1f3;
//font-size
$fs-text-1: 13px;
$fs-text-2:14px;

//padding
$padding-1: 10px;
$padding-2: 20px;
$padding-3: 30px;
$padding-4: 40px;
$padding-5: 50px;
///light-height
$lg-height: 80px;
//width-container
$W-container: 80%;
$W-container-second: 70%;
//box shadow
